.container {
	height: 100vh;
	pointer-events: none;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;

	.blur {
		height: 100%;
		width: 100%;
		background-size: 64px;
		background-repeat: repeat;
		background-image: url('../../../public/blur.png');
		opacity: 0.08;
		border-radius: 0;
	}
}
